<div class="flex flex-col w-[90%] mx-auto">
  <img src="assets/Facebook%20post%20image.png" class="h-96 md:block w-[60%] object-cover my-5 mx-auto hidden" alt="...">
</div>
<div class="mt-5 text-center md:text-left md:ml-[23%] font-semibold">
  <h1 class="text-2xl uppercase text-gray-900">Pasiune și Dragoste pentru Royal Enfield</h1>
  <p class="mt-2 text-xl text-gray-500">Îmbrățișând Moștenirea Eternă a brandului</p>
</div>
<div class="flex flex-col w-full md:flex-row justify-around md:w-[60%] md:mx-auto my-10 px-10">
  <p class="w-full md:w-[30%]">Suntem un reseller autorizat Royal Enfield din Cluj, dedicat pasiunii și excelenței în motociclism. Cu o vastă experiență în domeniu, oferim o gamă
                               completă de motociclete Royal Enfield, accesorii și servicii de întreținere de cea mai înaltă calitate. La noi, veți găsi nu doar vehicule de
                               legendă, ci și o echipă de profesioniști pregătită să vă ghideze în alegerea perfectă pentru stilul și nevoile dumneavoastră. Vă invităm să
                               descoperiți frumusețea și performanța inegalabilă a motocicletelor Royal Enfield, într-o atmosferă prietenoasă și primitoare.</p>
  <p class="w-full md:w-[30%] text-right pr-2">La Cluj, suntem mândri să fim un reseller autorizat Royal Enfield, aducând legendarul spirit al acestor motociclete clasice mai aproape de
                                          pasionați. Oferim o selecție variată de modele Royal Enfield, fiecare caracterizat prin calitate și durabilitate excepțională. Echipa
                                          noastră de experți este dedicată să vă ofere consultanță personalizată și servicii de întreținere de top, asigurându-ne că fiecare client
                                          se bucură de o experiență remarcabilă. Vizitați-ne pentru a explora eleganța și puterea motocicletelor Royal Enfield și pentru a deveni
                                          parte dintr-o comunitate pasionată de motociclism autentic.</p>
</div>
<div class="flex md:flex-row flex-col mx-auto w-[50%] md:py-24 py-8">
  <div class="flex flex-col text-center mr-0">
    <p class="text-2xl">{{ noOfClients }}</p>
    <h1 class="text-gray-500">Clienți Mulțumiți</h1>
  </div>
  <div class="flex flex-col text-center mx-auto border-t-2 border-b-2 md:border-b-0 md:border-t-0 md:border-l-2 md:border-r-2 border-gray-900 py-8 md:py-0 border-solid md:px-32">
    <p class="text-2xl">{{ noOfMotorcycles }}</p>
    <h1 class="text-gray-500">Motociclete Vândute</h1>
  </div>
  <div class="flex flex-col text-center ml-0">
    <p class="text-2xl">{{ noOfCoffees }}</p>
    <h1 class="text-gray-500">Cești de Cafea</h1>
  </div>
</div>
