<div class="w-full h-[10%] bg-gray-900 flex justify-center">
  <div class="w-[70%] flex justify-between">
    <ul
      class="ml-20 text-medium md:text-xl md:flex p-4 mt-4 md:space-x-8 justify-start
    rtl:space-x-reverse  md:border-0 dark:border-gray-700 w-[45%] hidden">
      <li>
        <a href="/"
           class="nav-link">Home</a>
      </li>
      <li>
        <a href="/about"
           class="nav-link">About</a>
      </li>
      <li>
        <a href="/services"
           class="nav-link">Services</a>
      </li>
      <li>
        <a href="/contact"
           class="nav-link">Contact</a>
      </li>
    </ul>
    <ul
      class="text-medium md:text-xl flex p-4 mt-4 md:space-x-8 md:justify-end md:ml-12 justify-center
    rtl:space-x-reverse  md:border-0 dark:border-gray-700 w-full md:w-[45%]">
      <li>
        <a href="https://www.instagram.com/verticalmoto.scoaladesoferi/" target="_blank"
           class="nav-link"><i class="fa-brands fa-instagram"></i></a>
      </li>
      <li>
        <a href="https://www.facebook.com/profile.php?id=61559802256114" target="_blank"
           class="nav-link"><i class="fa-brands fa-facebook"></i></a>
      </li>
      <li>
        <a href="/services" target="_blank"
           class="nav-link"><i class="fa-brands fa-linkedin"></i></a>
      </li>
    </ul>
  </div>
</div>
